*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: linear-gradient(to left, #141e30 0%, #243b55 100%);
}
.container{
max-width: 450px;
margin: 150px auto;
}
.container h5{
    text-align: center;
    margin-bottom: 65px;
    color: rgb(152, 247, 0);
    font-weight: bold;
}
.container .search-box{
    background: #efefef;
    width: 100%;
    border-radius: 1px;
    position: relative;
    box-shadow: 0px 0px 0px 1px #fffefd;
}
.search-box input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 0px 0px rgb(245, 0, 0);
}
.search-box.active input{
    border-radius: 5px 5px 0 0;
}
.search-box .auto-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.search-box.active .auto-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events:auto;
    background: white;
}
.auto-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.search-box.active .auto-box li{
    display: block;
}
.auto-box li:hover{
    background: #efefef;
}

.search-box button{
    position: absolute;
    right: 1px;
    top: 0px;
    height: 55px;
    width: 90px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 4px;
}
.search-box button:hover{
    background: #0088e2;
    color: beige;

}
