.navbar {
    padding-top: 1.0rem;
    padding-bottom: 1.5rem;
}

.bg-purple {
    background-color: #570080 !important;
}

ul li a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bolder;
}

.font-size {
    font-size: 1.25rem !important;
}
